body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.intro {
  text-align: center;
  padding: 100px 20px;
  width: 100%;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: rgb(246, 244, 244);
}

.profile-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

h1 {
  font-size: 69px;
  margin-bottom: 15px;
  font-family: mono, monospace;
}

.introduction {
  font-size: 20px;
  line-height: 1.6;
  font-family: Monaco, monospace;
}

.tagline {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}

.learn-more {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0c0c0c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 25px;
}

.about {
  width: 100%;
  padding: 50px 40px;
  background-image: url("images/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(6, 6, 6);
  box-sizing: border-box;
}

.about h2 {
  font-size: 30px;
  line-height: 1;
  max-width: 650px;
  font-family:
    lucida console,
    monospace;
}

.about p {
  max-width: 800px;
  line-height: 1.8;
  font-family: Monaco, monospace;
}

.about h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: Monospace;
}

.about ul {
  font-size: 18px;
  font-family: Monaco, monospace;
}

.about h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 20px;
  max-width: 650px;
  font-family: Monaco, monospace;
}

.skills {
  width: 100%;
  margin: 60px 0;
  padding: 60px 80px;
  background-color: rgb(35, 34, 34);
  color: rgb(13, 13, 13);
  box-sizing: border-box;
}

.skills h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 45px;
  justify-content: center;
}

.skills-card {
  width: 250px;
  padding: 25px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}

.skills-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.skills-card p {
  font-size: 18px;
  line-height: 1.9;
}
